.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex {
  display: flex;
}

.sidebar {
  width: 100px;
  background-color: #f8dcbc;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.flex-1 {
  margin-left: 250px;
  padding: 20px;
}

.text-lg {
  font-size: 1.125rem;
}

/* Sidebar styles */
.sidebar {
  width: 16rem;
}

.sidebar .logo {
  color: #000000;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  padding: 0.5rem;
  color: #000000;
  transition: color 0.3s;
}

.sidebar .nav-link:hover {
  color: #e8a546;
}

.sidebar .nav-link.active {
  color: #e8a546;
}

.text-2xl {
  font-size: 1.8rem;
}
